* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #00a8e8;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  background-color: #003459;
  margin: 7.5% 0 5% 0;
  padding: 30px;
  border-radius: 25px;
}

h1 {
  background-color: #003459;
  color: #fff;
}

.center {
  list-style-position: inside;
  background-color: #003459;
}

li {
  background-color: #003459;
  margin: 10px;
  color: #fff;
  text-align: center;
}

.data {
  margin-bottom: 5%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.styleUp {
  background-color: transparent;
}

.buttons {
  background-color: #00171f;
  color: white;
  padding: 10px;
  border-radius: 2px;
}

.buttons:hover {
  background-color: #003490;
  cursor: pointer;
}

.answer {
  display: none;
  display: flex;
  justify-content: center;
  color: aliceblue;
  background-color: #0073a7;
  padding: 15px;
  text-align: center;
  border-radius: 12px;
}
